<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div align="center">
        <img src="https://www.kangwon.ac.kr/site/www/images/contents/cts23_img.png" alt="My Image">
        <h1><a href="/">곰두리 차트</a></h1>
        <p>
            <button onclick="location.href='song'">음악목록</button>
        </p>
        <p>
            <button onclick="location.href='song/new'">음악추가</button>
        </p>
        <p>
            <button onclick="location.href='song/search'">음악검색</button>
        </p>
        <p><a href="https://www.melon.com/chart/" target="_blank">멜론 차트 바로가기</a></p>
        <p><a href="https://www.genie.co.kr/chart/top200" target="_blank">지니 차트 바로가기</a></p>
        <p><a href="https://music.bugs.co.kr/chart" target="_blank">벅스 차트 바로가기</a></p>
    </div>
</div>
</body>
</html>